{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %}Cart{% endblock %}
<style type="text/css">
{% block style %}
* {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Roboto', sans-serif;
}

/*shopping cart*/
.shopping-cart {
  width: 1100px;
  margin: 20px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.process-btns{
  width: 1100px;
  margin: 10px auto;
  /*flex-direction: column;*/
  text-align: center;
}

/*shopping cart items*/
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
.totals{
  /*height: 60px;*/
  border-top: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 16px;
  font-weight: 400;
  text-align:right;
}
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  margin-bottom: 3px;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/*styling delete and fav buttons*/
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.buttons i {
  display: inline-block;
  Cursor: pointer;
  vertical-align: middle;
  font-size:16px;
  padding:5px;
}



/*set is-active for when click the button to animate using jquery*/
.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/*product image*/
.image {
  margin-right: 50px;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/*quantity element*/
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
.plus-btn, .minus-btn {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.continue-shopping{
	float: left;
}
.continue-checkout{
	float: right;
}
.minus-btn i {
  /*margin-bottom: 3px;*/
  vertical-align: middle;
}
.plus-btn i {
  /*margin-top: 2px;*/
  vertical-align: middle;
}
 
button:focus,
input:focus {
  outline:0;
}

/*total price*/
.total-p {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
/* style the buttons */
.btn{
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	border: none;
	transition: all 0.4s;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	white-space: nowrap;
	padding: 6px 16px;
	font-size: 15px;
	line-height: 1.846;
	border-radius: 3px;
	outline: 0;
}
/*.btn:focus{outline: 0;}*/
.btn:focus, .btn:hover, .btn:active{outline: 0;box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);}
button::-moz-focus-inner { border: 0; }
.btn-default:hover, .btn-default:focus {
    background-color: #f0f0f0;
    color: #444444;
	border-color: rgba(0, 0, 0, 0);
}
.btn-default, .btn-default:active {
    background-color: #ffffff;
    color: #444444;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #0d87e9;
    color: #ffffff;
	border-color: rgba(0, 0, 0, 0);
}
.btn-primary {
    background-color: #2196f3;
    color: #ffffff;
}
/* end style the buttons */
/*responsiveness*/
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    /*overflow: hidden;*/
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .totals{text-align: center;}
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
{% endblock %}
</style>

{% block body_tag %}<body class="category-page option6">{% endblock %}
{% block content %}
<div class="columns-container">
 <div class='row main-content'>

{% if object.cartitem_set.count < 1 %}

{% include "carts/empty_cart.html" %}
{% else %}

<div class='col-sm-8 col-sm-offset-2'>

<h1>Your cart</h1>

<table class='table'> 


{% for item in object.cartitem_set.all %}
<!-- {{item.item.product.title}} - {{item.item.product.id}} - {{item.item.product.get_image_url}} -->
<tr id='item-{{ item.item.id }}'>

<td>{{ item.item.get_title }}</td>


<td>
	<form action="." method="GET" >
	  <input type='hidden' name='item' value='{{ item.item.id }}' />
	  <input type='number' class='item-qty' name='qty' value='{{ item.quantity }}' />
	  <input type='submit' class='btn-update btn btn-link' value='Update item' style='display:none;'/>
	</form>
</td>
<td id='item-line-total-{{ item.item.id }}'>{{ item.line_item_total }}</td>
<td class='text-right' ><a href='{{ item.remove }}'>X</a>



</td>


</tr>

{% endfor %}


<tr>
	<td  colspan='4' class='text-right'>Subtotal: <span id='subtotal'>{{ object.subtotal }}</span></td>
</tr>

<tr>
	<td colspan='4' class='text-right'>Tax (Estimated): <span id='taxtotal'>{{ object.tax_total }}</span></td>
</tr>

<tr>
	<td colspan='4' class='text-right'>Total: <span id='carttotal'>{{ object.total }}</span></td>
</tr>


<tr>
	<td colspan='4' class='text-right'><a class='btn btn-warning' href="{% url 'checkout' %}">Checkout </a></td>
</tr>

</table>


</div>
{% endif %}

</div>
<!-- second row-->
<div class="row">
	<div class="shopping-cart animated fadeInUp">
	      <!-- Title -->
	      <div class="title">
	        Your Shopping Cart
	      </div>
	      {% for item in object.cartitem_set.all %}
	      <!-- Product #3 -->
	      <div class="item animated" id="item-{{ item.item.id }}">
	        <div class="buttons" onclick="removeCartItem({{ item.item.id }})">
	          <i class="fa fa-times" aria-hidden="true"></i>
	        </div>
	 
	        <div class="image">
	          <img src="{{item.item.product.get_image_url}}" alt="" style="height: 100px;width: auto;" />
	        </div>
	 
	        <div class="description">
	          <span>{{item.item.product.title}}</span>
	          <!-- <span>Brushed Scarf</span> -->
	          <span>{{ item.item.get_title }}</span>
	        </div>
	 
	        <div class="quantity">
	          <button class="plus-btn" type="button" name="button" onclick="increase({{ item.item.id }})">
	            <i class="fa fa-plus" aria-hidden="true"></i>
	          </button>
	          <input type="text" class='val_change' name='qty' value='{{ item.quantity }}' id="val_{{ item.item.id }}">
	          <input type='hidden' name='item' value='{{ item.item.id }}' />
	          <button class="minus-btn" type="button" name="button" onclick="decrease({{ item.item.id }})">
	            <i class="fa fa-minus" aria-hidden="true"></i>
	          </button>
	        </div>
	 
	        <div class="total-p">KShs <span id='it-{{ item.item.id }}'>{{ item.line_item_total }}</span></div>
	      </div>
	      <!-- end item-->
	      {% endfor %}
	      <div class="totals">
	       <p> Sub-Total : KShs <span id='st'>{{ object.subtotal }}</span></p>
	       <p> Total Tax(Estimated) :<span id='tt'>{{ object.tax_total }}</span></p>
	       <p> Total : KShs <span id='ct'>{{ object.total }}</span></p>
	      </div>
	    </div>
	    <div class="process-btns">
	         <button class="b btn btn-default ripple continue-shopping animated slideInLeft">Continue Shopping</button>
	         <button class="b btn btn-primary ripple-light continue-checkout animated slideInRight">Proceed to checkout</button>
	    </div>
   </div>
<!--end of second row-->
</div>
{% endblock %}


{% block jquery %}
<script>

$(".item-qty").change(function(){
	// $(this).next(".btn-update").fadeIn();

	// event.preventDefault();
	// .prev(h1)
	var item = $(this).prev("input[type='hidden']").val();
	var qty = $(this).val()
	var data = {
		item: item,
		qty: qty
	}
	console.log(data);
	$.ajax({
		type: "GET", // "POST"
		url: "{% url 'cart' %}",
		data: data,
		success: function(data) {
			console.log(data);
			$("#jquery-message").text("Added " + data.item_added + " Deleted " + data.deleted)
			if (data.deleted){
				$("#item-"+item).fadeOut();
				$("#subtotal").text(data.subtotal);
				$("#taxtotal").text(data.tax_total);
				$("#carttotal").text(data.cart_total);
			} else {
				$("#item-line-total-"+item).text(data.line_total);
				$("#subtotal").text(data.subtotal);
				$("#taxtotal").text(data.tax_total);
				$("#carttotal").text(data.cart_total);
			}

			if (data.total_items == 0 ) {
				$(".table").fadeOut()
				var template = "{% include 'carts/empty_cart.html' %}";
				$(".main-content").html(template);

			}

			var message = ""
			if (data.item_added) {
				message = "New item added"
			} else if (data.deleted){
				message = "Item removed"
			} else {
				message = "Item updated"
			}
			toastr.success(message, 'success');
			updateCartItemCount()
			}, 
		error: function(response, error) {
			// console.log(response)
			// console.log(error)
			$("#add-form").submit()
		}
	})


});
function decrease(id){
	
	var inputValue = $('#val_'+id).val();

	if (inputValue > 1) {
        inputValue--;
    } else {
        inputValue = 0;
    }
    $('#val_'+id).val(inputValue);
    process(id, inputValue);
	// alert(inputValue);
}
function increase(id){
	var inputValue = $('#val_'+id).val();

	if (inputValue >= 0) {
        inputValue++;
    } else {
        inputValue = 100;
    }
     $('#val_'+id).val(inputValue);
     process(id, inputValue);
}
    function removeCartItem(id){
        alert(id);
        $.ajax({
            type: "GET",
            url: "{% url 'cart' %}",
            data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    item: id,
                    qty:1,
                    delete:'True'
            },
            success: function(data){
                var item = $("#item-"+id);
                // item.addClass( "fadeOut" );
                // item_id.fadeOut(function(){
                //     // updateCartItemCount();
                //     $('.total-price').html(data.subtotal);
                //     // $('.cart-title').html(data.count + ' Items in my cart');
                //     // updateMinicart();
                // });

                // alert('deleted')
                console.log(item+'deleted');
            },
            error: function(data, error) {
                console.log(data);
                console.log(error);
            }

        });
    }

    function process(item, qty){
    	var data = {
			item: item,
			qty: qty
		}
	// console.log(data);
		$.ajax({
			type: "GET", // "POST"
			url: "{% url 'cart' %}",
			data: data,
			success: function(data) {
				console.log(data);
				$("#jquery-message").text("Added " + data.item_added + " Deleted " + data.deleted)
				if (data.deleted){
					$("#item-"+item).fadeOut();
					$("#st").text(data.subtotal);
					$("#tt").text(data.tax_total);
					$("#ct").text(data.cart_total);
				} else {
					$("#it-"+item).text(data.line_total);
					$("#st").text(data.subtotal);
					$("#tt").text(data.tax_total);
					$("#ct").text(data.cart_total);
				}

				if (data.total_items == 0 ) {
					$(".table").fadeOut()
					var template = "{% include 'carts/empty_cart.html' %}";
					$(".main-content").html(template);

				}

				var message = ""
				if (data.item_added) {
					message = "New item added"
				} else if (data.deleted){
					message = "Item removed"
				} else {
					message = "Item updated"
				}
				toastr.success(message, 'success');
				updateCartItemCount()
				}, 
			error: function(response, error) {
				// console.log(response)
				// console.log(error)
				$("#add-form").submit()
			}
		});
    }
/* end of click buttons */
</script>
{% endblock %}



<p>Almost ready to display</p>