{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %} About Us {% endblock %}

{% block body_tag %}<body class="category-page option6">{% endblock %}
{% block navbar_li %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="dropdown">
        <a href="{% url 'category' %}" class="dropdown-toggle" data-toggle="dropdown"> Categories </a>
        <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 830px;">
            <li class="block-container col-sm-3">
                <ul class="block">
                    <li class="img_container">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'assets/data/men.png' %}" alt="sport">
                        </a>
                    </li>
                    <li class="link_container group_header">
                        <a href="#">MEN'S</a>
                    </li>
                    <li class="link_container"><a href="#">Skirts</a></li>
                    <li class="link_container"><a href="#">Jackets</a></li>
                    <li class="link_container"><a href="#">Tops</a></li>
                    <li class="link_container"><a href="#">Scarves</a></li>
                    <li class="link_container"><a href="#">Pants</a></li>
                </ul>
            </li>
             <li class="block-container col-sm-3">
                <ul class="block">
                    <li class="img_container">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'assets/data/women.png' %}" alt="sport">
                        </a>
                    </li>
                    <li class="link_container group_header">
                        <a href="#">WOMEN'S</a>
                    </li>
                    <li class="link_container"><a href="#">Skirts</a></li>
                    <li class="link_container"><a href="#">Jackets</a></li>
                    <li class="link_container"><a href="#">Tops</a></li>
                    <li class="link_container"><a href="#">Scarves</a></li>
                    <li class="link_container"><a href="#">Pants</a></li>
                </ul>
            </li>
             <li class="block-container col-sm-3">
                <ul class="block">
                    <li class="img_container">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'assets/data/kid.png' %}" alt="sport">
                        </a>
                    </li>
                    <li class="link_container group_header">
                        <a href="#">Kids</a>
                    </li>
                    <li class="link_container"><a href="#">Shoes</a></li>
                    <li class="link_container"><a href="#">Clothing</a></li>
                    <li class="link_container"><a href="#">Tops</a></li>
                    <li class="link_container"><a href="#">Scarves</a></li>
                    <li class="link_container"><a href="#">Accessories</a></li>
                </ul>
            </li>
             <li class="block-container col-sm-3">
                <ul class="block">
                    <li class="img_container">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'assets/data/trending.png' %}" alt="sport">
                        </a>
                    </li>
                    <li class="link_container group_header">
                        <a href="#">TRENDING</a>
                    </li>
                    <li class="link_container"><a href="#">Men's Clothing</a></li>
                    <li class="link_container"><a href="#">Kid's Clothing</a></li>
                    <li class="link_container"><a href="#">Women's Clothing</a></li>
                    <li class="link_container"><a href="#">Accessories</a></li>
                </ul>
            </li>
        </ul>
    </li>
    
    <li class="dropdown active">
        <a href="{% url 'about' %}" class="dropdown-toggle" data-toggle="dropdown">About Us </a>
        <ul class="dropdown-menu container-fluid">
            <li class="block-container">
                <ul class="block">
                    <li class="link_container"><a href="{% url 'contact' %}">Contact US</a></li>
                </ul>
            </li>
        </ul> 
    </li>
{% endblock %}
<!-- content -->
{% block content %}
<!-- page wapper-->
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Home</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">About Us</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block">Infomations</p>
                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active"><span></span><a href="#">About Us</a></li>
                                    <li><span></span><a href="#">Delivery Information</a></li>
                                    <li><span></span><a href="#">Privacy Policy</a></li>
                                    <li><span></span><a href="#">Terms &amp; Conditions</a></li>
                                    <li><span></span><a href="#">Contact Us</a></li>
                                    <li><span></span><a href="#">FAQ</a></li>
                                    <li><span></span><a href="#">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- Banner silebar -->
                <div class="block left-module">
                    <div class="banner-opacity">
                        <a href="#"><img src="{% static 'assets/data/slide-left.jpg" alt="ads-banner"></a>
                    </div>
                </div>
                <!-- ./Banner silebar -->
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <h2 class="page-heading">
                    <span class="page-heading-title2">About Us</span>
                </h2>
                <!-- Content page -->
                <div class="content-text clearfix">

                    <img src="{% static 'assets/data/about-us.jpg" class="alignleft" width="310" alt="">

                    <p>Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consecvtetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel.</p>

                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>

                    <p>Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, <a href="#">malesuada at</a>, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>

                    <p>Nam elit agna,endrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. </p>
                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros.</p>

                    <p>Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, <a href="#">malesuada at</a>, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>

                </div>
                <!-- ./Content page -->
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>
<!-- ./page wapper-->
{% endblock %}
{% block jquery %}
<script type="text/javascript">
// function updateCartItemCount(){
//         var badge = $("#notify");
//         var my_count = $("#my-count");

//         $.ajax({
//             type: "GET",
//             url: "{% url 'item_count' %}",
//             success: function(data){
//                 badge.text(data.count);
//                 // console.log(data.count);
//                 my_count.text(data.count);
//                 /**- if cart qty is 0-**/
//                 if(data.count == 0){
//                   $('.cart-block-content').fadeOut(function(){
//                     $('.cart-block-content').html('Cart is empty').fadeIn();
//                   });                 
//                 }
//             },
//             error: function(data, error) {
//                 console.log(data);
//                 console.log(error);
//             }

//         });

//      }
//     function updateMinicart(){      
//         $(".cart-block").html('&nbsp;').load("{% url 'minicart' %}");
//     }
//     function removeCartItem(id){
//         // alert(id);
//         $.ajax({
//             type: "GET",
//             url: "{% url 'cart' %}",
//             data: {
//                     csrfmiddlewaretoken: '{{ csrf_token }}',
//                     item: id,
//                     qty:1,
//                     delete:'True'
//             },
//             success: function(data){
//                 var item_id = $(".remove-item-"+id);
//                 item_id.fadeOut(function(){
//                     updateCartItemCount();
//                     $('.total-price').html(data.subtotal);
//                     // $('.cart-title').html(data.count + ' Items in my cart');
//                     // updateMinicart();
//                 });

//                 // alert('deleted')
//                 console.log('deleted');
//             },
//             error: function(data, error) {
//                 console.log(data);
//                 console.log(error);
//             }

//         });
//     }
$(document).ready(function(){
     console.log({{ request.session.cart_id }});
     updateCartItemCount();
     updateMinicart();

});

    function removeCartItem(id){
    // alert(id);
    $.ajax({
        type: "GET",
        url: "{% url 'cart' %}",
        data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                item: id,
                qty:1,
                delete:'True'
        },
        success: function(data){
            var item_id = $(".remove-item-"+id);
            item_id.fadeOut(function(){
                updateCartItemCount();
                $('.total-price').html(data.subtotal);
                // $('.cart-title').html(data.count + ' Items in my cart');
                // updateMinicart();
            });

            // alert('deleted')
            console.log('deleted');
        },
        error: function(data, error) {
            console.log(data);
            console.log(error);
        }

    });
}
    
</script>
{% endblock %}