{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %} Contact Us {% endblock %}

{% block body_tag %}<body class="category-page option6">{% endblock %}
{% block navbar_li %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="dropdown">
        <a href="{% url 'category' %}" class="dropdown-toggle" data-toggle="dropdown"> Categories </a>
        <ul class="dropdown-menu mega_dropdown" role="menu" style="width: 830px;">
            <li class="block-container col-sm-3">
                <ul class="block">
                    <li class="img_container">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'assets/data/men.png' %}" alt="sport">
                        </a>
                    </li>
                    <li class="link_container group_header">
                        <a href="#">MEN'S</a>
                    </li>
                    <li class="link_container"><a href="#">Skirts</a></li>
                    <li class="link_container"><a href="#">Jackets</a></li>
                    <li class="link_container"><a href="#">Tops</a></li>
                    <li class="link_container"><a href="#">Scarves</a></li>
                    <li class="link_container"><a href="#">Pants</a></li>
                </ul>
            </li>
             <li class="block-container col-sm-3">
                <ul class="block">
                    <li class="img_container">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'assets/data/women.png' %}" alt="sport">
                        </a>
                    </li>
                    <li class="link_container group_header">
                        <a href="#">WOMEN'S</a>
                    </li>
                    <li class="link_container"><a href="#">Skirts</a></li>
                    <li class="link_container"><a href="#">Jackets</a></li>
                    <li class="link_container"><a href="#">Tops</a></li>
                    <li class="link_container"><a href="#">Scarves</a></li>
                    <li class="link_container"><a href="#">Pants</a></li>
                </ul>
            </li>
             <li class="block-container col-sm-3">
                <ul class="block">
                    <li class="img_container">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'assets/data/kid.png' %}" alt="sport">
                        </a>
                    </li>
                    <li class="link_container group_header">
                        <a href="#">Kids</a>
                    </li>
                    <li class="link_container"><a href="#">Shoes</a></li>
                    <li class="link_container"><a href="#">Clothing</a></li>
                    <li class="link_container"><a href="#">Tops</a></li>
                    <li class="link_container"><a href="#">Scarves</a></li>
                    <li class="link_container"><a href="#">Accessories</a></li>
                </ul>
            </li>
             <li class="block-container col-sm-3">
                <ul class="block">
                    <li class="img_container">
                        <a href="#">
                            <img class="img-responsive" src="{% static 'assets/data/trending.png' %}" alt="sport">
                        </a>
                    </li>
                    <li class="link_container group_header">
                        <a href="#">TRENDING</a>
                    </li>
                    <li class="link_container"><a href="#">Men's Clothing</a></li>
                    <li class="link_container"><a href="#">Kid's Clothing</a></li>
                    <li class="link_container"><a href="#">Women's Clothing</a></li>
                    <li class="link_container"><a href="#">Accessories</a></li>
                </ul>
            </li>
        </ul>
    </li>
    
    <li class="dropdown active">
        <a href="{% url 'about' %}" class="dropdown-toggle" data-toggle="dropdown">About Us </a>
        <ul class="dropdown-menu container-fluid">
            <li class="block-container">
                <ul class="block">
                    <li class="link_container"><a href="{% url 'contact' %}">Contact US</a></li>
                </ul>
            </li>
        </ul> 
    </li>
{% endblock %}
<!-- content -->
{% block content %}
<!-- page wapper-->
<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="#" title="Return to Home">Home</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">Contact</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">Contact Us</span>
        </h2>
        <!-- ../page heading-->
        <div id="contact" class="page-content page-contact">
            <div id="message-box-conact"></div>
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="page-subheading">CONTACT FORM</h3>
                    <div class="contact-form-box">
                        <div class="form-selector">
                            <label>Subject Heading</label>
                            <select class="form-control input-sm" id="subject">
                                <option value="Customer service">Customer service</option>
                                <option value="Webmaster">Webmaster</option>
                            </select>
                        </div>
                        <div class="form-selector">
                            <label>Email address</label>
                            <input type="text" class="form-control input-sm" id="email" />
                        </div>
                        <div class="form-selector">
                            <label>Order reference</label>
                            <input type="text" class="form-control input-sm" id="order_reference" />
                        </div>
                        <div class="form-selector">
                            <label>Message</label>
                            <textarea class="form-control input-sm" rows="10" id="message"></textarea>
                        </div>
                        <div class="form-selector">
                            <button id="btn-send-contact" class="btn">Send</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6" id="contact_form_map">
                    <h3 class="page-subheading">Information</h3>
                    <p>Lorem ipsum dolor sit amet onsectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor dapibus eget. Mauris tincidunt aliquam lectus sed vestibulum. Vestibulum bibendum suscipit mattis.</p>
                    <br/>
                    <ul>
                        <li>Praesent nec tincidunt turpis.</li>
                        <li>Aliquam et nisi risus.&nbsp;Cras ut varius ante.</li>
                        <li>Ut congue gravida dolor, vitae viverra dolor.</li>
                    </ul>
                    <br/>
                    <ul class="store_info">
                        <li><i class="fa fa-home"></i>Our business address is 1063 Freelon Street San Francisco, CA 95108</li>
                        <li><i class="fa fa-phone"></i><span>+ 021.343.7575</span></li>
                        <li><i class="fa fa-phone"></i><span>+ 020.566.6666</span></li>
                        <li><i class="fa fa-envelope"></i>Email: <span><a href="mailto:%73%75%70%70%6f%72%74@%6b%75%74%65%74%68%65%6d%65.%63%6f%6d">support@kutetheme.com</a></span></li>
                    </ul>                
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- ./page wapper-->
{% endblock %}
{% block jquery %}

{% endblock %}